
.caard-todo{background-color:lightskyblue}
.card-todo{background-color:rgb(147, 210, 210)}
.card-done{background-color: rgb(204, 204, 204)}
.caard-done{background-color: lemonchiffon}
.card-any{background-color: rgb(red, green)}
footer{
    text-align:center; 
    font-family: 'Raleway', sans-serif;
}
.card{
    font-size:.875rem;
    font-family: 'Roboto', sans-serif;
}
.badge{
    font-size:.685rem;
}
p{
    text-overflow:ellipsis;
    /* width: 220px; */
    width:90%;
    white-space: nowrap;
    overflow: hidden;
}

p:hover{
    text-overflow:clip;
    width:auto;
    white-space: normal;
}